{% load subdomainurls %}<li><a href="{% url 'homepage' subdomain='hub' %}">Homepage</a></li>
<li><a href="{% url 'Mgmt__company_list' subdomain='hub' %}">Companies</a></li>
<li><a href="{% url 'plug' subdomain='hub' %}">Plug-in</a></li>

