{% load subdomainurls %}<li><a href="{% url 'homepage' subdomain='console' %}">Homepage</a></li>
<li><a href="{% url 'projects__listing' subdomain='console' %}">Applications</a></li>
<li><a href="{% url 'sandbox__homepage' subdomain='console' %}">(*) SandBox</a></li>
<li><a href="{% url 'sandbox__debugger' subdomain='console' %}">(*) Debugger</a></li>
<li><a href="{% url 'sandbox__cheatsheet' subdomain='console' %}">(*) Cheat-sheet</a></li>
