{% extends "layout.html" %}

{% load backend_utils %}

{% block heading %}Choose a new connector :{% endblock %}

{% block content %}
<h3>API's :</h3>
{% for provider in apis %}
<a class="btn btn-app" href="/plug/api/{{ provider.name }}">
    <i class="fa fa-{{ provider.icon }}"></i> {{ provider.title }}
</a>
{% endfor %}
<hr />
<h3>Endpoints :</h3>
{% for provider in endpoints %}
<a class="btn btn-app" href="/plug/endpoint/{{ provider.name }}">
    <i class="fa fa-{{ provider.icon }}"></i> {{ provider.title }}
</a>
{% endfor %}
<hr />
<h3>Networks :</h3>
{% for provider in networks %}
<a class="btn btn-app" href="/plug/social/{{ provider.name }}">
    <i class="fa fa-{{ provider.icon }}"></i> {{ provider.title }}
</a>
{% endfor %}
<hr />
<p>{{ registrars }}</p>
{% endblock %}

{% block script %}
<style>
</style>
{% endblock %}

{% block app %}
<script type="text/javascript">
</script>
{% endblock %}
