{% load subdomainurls %}<li><a href="{% url 'homepage' subdomain='dev' %}">Homepage</a></li>
<li><a href="{% url 'metalogy__languages__listing' subdomain='dev' %}">Programming languages</a></li>
<li><a href="{% url 'metalogy__librairies__listing' subdomain='dev' %}">Frameworks &amp; Libraries</a></li>
<li><a href="{% url 'metalogy__charms__listing' subdomain='dev' %}">IT 2 Use :: Charms</a></li>
<li><a href="{% url 'metalogy__recipes__listing' subdomain='dev' %}">IT 2 Use :: Recipes</a></li>
<li><a href="{% url 'basis__versionning__listing' subdomain='dev' %}">(*) Repositories</a></li>
<li><a href="{% url 'basis__containement__listing' subdomain='dev' %}">(*) Containers</a></li>
