{% extends "layout.html" %}

{% load staticfiles %}
{% load subdomainurls %}

{% block page %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3><a href="{% url 'projects__listing' subdomain='console' %}">Projects</a> <small>Listing design</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 20%">Project Name</th>
                                <th>Team Members</th>
                                <th>Project Progress</th>
                                <th>Status</th>
                                <th style="width: 20%">#Edit</th>
                            </tr>
                        </thead>
                        <tbody>
{% for prj in listing %}
                            <tr>
                                <td>#</td>
                                <td>
                                    <a href="{% url 'projects__overview' narrow=prj.name subdomain='console' %}">
                                      {{ prj }}
                                      <br />
                                      <small>Created {{ prj.created_on }}</small>
                                    </a>
                                </td>
                                <td>
                                    <ul class="list-inline">
{% for prj in listing %}
                                        <li>
                                            <img src="{% static team.avatar %}" class="avatar" alt="Avatar">
                                        </li>
{% endfor %}
                                    </ul>
                                </td>
                                <td class="project_progress">
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{ prj.progress }}"></div>
                                    </div>
                                    <small>{{ prj.progress }}% Complete</small>
                                </td>
                                <td>
                                    <a href="{% url 'projects__view_quota'    narrow=prj.name subdomain='console' %}" class="btn btn-success btn-xs"><i class="fa fa-counter"></i> Quota </a>
                                </td>
                                <td>
                                    <a href="{% url 'projects__settings'      narrow=prj.name subdomain='console' %}" class="btn btn-primary btn-xs"><i class="fa fa-gear"></i> </a>
                                    <a href="{% url 'projects__manage_access' narrow=prj.name subdomain='console' %}" class="btn btn-primary btn-xs"><i class="fa fa-users"></i> </a>
                                    <a href="{% url 'projects__manage_tokens' narrow=prj.name subdomain='console' %}" class="btn btn-primary btn-xs"><i class="fa fa-key"></i> </a>
                                    <a href="{% url 'projects__delete'        narrow=prj.name subdomain='console' %}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> </a>
                                </td>
                            </tr>
{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}

{% block app %}
{% endblock %}
