{% extends "layout.html" %}

{% load staticfiles %}

{% block script %}
<script src="https://login.persona.org/include.js" type="text/javascript"></script>
{% endblock %}

{% block heading %}My profile{% endblock %}

{% block content %}
<form method="POST">
  {{ form.as_p }}
  {% csrf_token %}
  <button class="btn btn-default submit">Valider</button>
</form>
{% endblock %}
