{% load backend_utils %}{% load subdomainurls %}{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{% block site_title %}ScubaDev{% endblock %} | {% block page_title %}{% endblock %}</title>
      <!-- Bootstrap core CSS -->
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'fonts/css/font-awesome.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
      <!-- Custom styling plus plugins -->
      <link href="{% static 'css/custom.css' %}" rel="stylesheet">
      <link href="{% static 'css/icheck/flat/green.css' %}" rel="stylesheet">

      <script src="{% static 'js/jquery.min.js' %}"></script>

<!--[if lt IE 9]>
      <script src="../assets/js/ie8-responsive-file-warning.js' %}"></script>
<![endif]-->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
<![endif]-->

      <link href="{% static 'extras.css' %}" rel="stylesheet">
      <script src="{% static 'extras.js' %}"></script>

{% block script %}{% endblock %}
  </head>
  {% block body %}
  <body class="nav-md">
      <div class="container body">
          <div class="main_container">
              <div class="col-md-3 left_col">
                  <div class="left_col scroll-view">
                      <div class="navbar nav_title" style="border: 0;">
                          <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>Scuba Dev</span></a>
                      </div>
                      <div class="clearfix"></div>
                      <div class="profile">
                          <div class="profile_pic">
                              <img src="{% static 'images/img.jpg' %}" alt="..." class="img-circle profile_img">
                          </div>
                          <div class="profile_info">
                              <span>Welcome,</span>
                              <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                          </div>
                      </div>
                      <br />
                      <!-- sidebar menu -->
                      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                          <div class="menu_section">
                              <h3>ScubaDev</h3>
                              <ul class="nav side-menu">
                                {% for section in sections %}
                                <li>
                                  <a><i class="fa fa-{{ section.icon }}"></i> {{ section.title }} <span class="fa fa-chevron-down"></span></a>
                                  <ul class="nav child_menu" style="display: none">
                                    {% include section.template %}
                                  </ul>
                                </li>
                                {% endfor %}
                              </ul>
                          </div>
{% if false %}
                          <div class="menu_section">
                              <h3>Live On</h3>
                              <ul class="nav side-menu">
                                  <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                                      <ul class="nav child_menu" style="display: none">
                                          <li><a href="e_commerce.html">E-commerce</a>
                                          </li>
                                          <li><a href="projects.html">Projects</a>
                                          </li>
                                          <li><a href="project_detail.html">Project Detail</a>
                                          </li>
                                          <li><a href="contacts.html">Contacts</a>
                                          </li>
                                          <li><a href="profile.html">Profile</a>
                                          </li>
                                      </ul>
                                  </li>
                                  <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                                      <ul class="nav child_menu" style="display: none">
                                          <li><a href="page_404.html">404 Error</a>
                                          </li>
                                          <li><a href="page_500.html">500 Error</a>
                                          </li>
                                          <li><a href="plain_page.html">Plain Page</a>
                                          </li>
                                          <li><a href="login.html">Login Page</a>
                                          </li>
                                          <li><a href="pricing_tables.html">Pricing Tables</a>
                                          </li>

                                      </ul>
                                  </li>
                                  <li><a><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a>
                                  </li>
                              </ul>
                          </div>
{% endif %}
                      </div>
                      <!-- /sidebar menu -->
                      <!-- /menu footer buttons -->
                      <div class="sidebar-footer hidden-small">
                          <a data-toggle="tooltip" data-placement="top" title="Profile" href="{% url 'profile' subdomain='connect' %}">
                              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                          </a>
                          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                          </a>
                          <a data-toggle="tooltip" data-placement="top" title="Lock">
                              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                          </a>
                          <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url 'logout' subdomain='connect' %}">
                              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                          </a>
                      </div>
                      <!-- /menu footer buttons -->
                  </div>
              </div>
              <!-- top navigation -->
              <div class="top_nav">
                  <div class="nav_menu">
                      <nav class="" role="navigation">
                          <div class="nav toggle">
                              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                          </div>
                          <ul class="nav navbar-nav navbar-right">
                              <li class="">
                                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <img src="{% static 'images/img.jpg' %}" alt="">{{ user }}
                                      <span class=" fa fa-angle-down"></span>
                                  </a>
                                  <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                      <li><a href="{% url 'profile' subdomain='connect' %}">  Profile</a>
                                      </li>
                                      <li>
                                          <a href="{% url 'settings' subdomain='connect' %}">
                                              <span class="badge bg-red pull-right">50%</span>
                                              <span>Settings</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="{% url 'done' subdomain='connect' %}">Accounts</a>
                                      </li>
                                      <li><a href="{% url 'logout' subdomain='connect' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                      </li>
                                  </ul>
                              </li>
                              <li role="presentation" class="dropdown">
                                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                      <i class="fa fa-envelope-o"></i>
                                      <span class="badge bg-green">6</span>
                                  </a>
                                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                                      <li>
                                          <a>
                                              <span class="image">
                                                  <img src="{% static 'images/img.jpg' %}" alt="Profile Image" />
                                              </span>
                                              <span>
                                                  <span>John Smith</span>
                                                  <span class="time">3 mins ago</span>
                                              </span>
                                              <span class="message">
                                                  Film festivals used to be do-or-die moments for movie makers. They were where...
                                              </span>
                                          </a>
                                      </li>
                                      <li>
                                          <a>
                                              <span class="image">
                                                  <img src="{% static 'images/img.jpg' %}" alt="Profile Image" />
                                              </span>
                                              <span>
                                              <span>John Smith</span>
                                              <span class="time">3 mins ago</span>
                                              </span>
                                              <span class="message">
                                                  Film festivals used to be do-or-die moments for movie makers. They were where...
                                              </span>
                                          </a>
                                      </li>
                                      <li>
                                          <a>
                                              <span class="image">
                                                  <img src="{% static 'images/img.jpg' %}" alt="Profile Image" />
                                              </span>
                                              <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                              </span>
                                              <span class="message">
                                                  Film festivals used to be do-or-die moments for movie makers. They were where...
                                              </span>
                                          </a>
                                      </li>
                                      <li>
                                          <a>
                                              <span class="image">
                                                  <img src="{% static 'images/img.jpg' %}" alt="Profile Image" />
                                              </span>
                                              <span>
                                                  <span>John Smith</span>
                                                  <span class="time">3 mins ago</span>
                                              </span>
                                              <span class="message">
                                                  Film festivals used to be do-or-die moments for movie makers. They were where...
                                              </span>
                                          </a>
                                      </li>
                                      <li>
                                          <div class="text-center">
                                              <a>
                                                  <strong>See All Alerts</strong>
                                                  <i class="fa fa-angle-right"></i>
                                              </a>
                                          </div>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
              <!-- /top navigation -->
              <!-- page content -->
              <div class="right_col" role="main">
{% block page %}
                  <div class="">
                      <div class="page-title">
                          <div class="title_left">
                              <h3>{% block heading %}{% endblock %}</h3>
                          </div>
                          <div class="title_right">
                              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                  <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Search for...">
                                      <span class="input-group-btn">
                                          <button class="btn btn-default" type="button">Go!</button>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="row">
                          {% if messages %}
                          <script type="text/javascript">
jQuery(function () {
  {% for message in messages %}
  new PNotify({
    title: 'Flash Notification',
    text: '{{ message }}',
    {% if message.tags %}type: '{{ message.tags }}',{% endif %}
  });
  <li></li>
  {% endfor %}
});
                          </script>
                          {% endif %}
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="x_panel" style="height:600px;">
                                {% block before_content %}
                                  <div class="x_title">
                                      <h2>Plain Page</h2>
                                      <ul class="nav navbar-right panel_toolbox">
                                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                          </li>
                                          <li class="dropdown">
                                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                              <ul class="dropdown-menu" role="menu">
                                                  <li><a href="#">Settings 1</a>
                                                  </li>
                                                  <li><a href="#">Settings 2</a>
                                                  </li>
                                              </ul>
                                          </li>
                                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                                          </li>
                                      </ul>
                                      <div class="clearfix"></div>
                                  </div>
                                {% endblock %}
                                  <div class="x_content">
                                    {% block content %}{% endblock %}
                                  </div>
                              </div>
                          </div>
                      </div>
                  {% endblock %}
                  </div>
                  <!-- footer content -->
                  <footer>
                      <div class="">
                          <p class="pull-right">Scuba Diving! a Bootstrap 3 template by <a>Kimlabs</a>. |
                              <span class="lead"> <i class="fa fa-paw"></i> Scuba Diving!</span>
                          </p>
                      </div>
                      <div class="clearfix"></div>
                  </footer>
                  <!-- /footer content -->
              </div>
              <!-- /page content -->
          </div>
      </div>
      <div id="custom_notifications" class="custom-notifications dsp_none">
          <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
          </ul>
          <div class="clearfix"></div>
          <div id="notif-group" class="tabbed_notifications"></div>
      </div>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- chart js -->
      <script src="{% static 'js/chartjs/chart.min.js' %}"></script>
      {% block plugins %}
      <!-- bootstrap progress js -->
      <script src="{% static 'js/progressbar/bootstrap-progressbar.min.js' %}"></script>
      <script src="{% static 'js/nicescroll/jquery.nicescroll.min.js' %}"></script>
      <!-- daterangepicker -->
      <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
      <!-- icheck -->
      <script src="{% static 'js/icheck/icheck.min.js' %}"></script>
      {% endblock %}
      <script src="{% static 'js/custom.js' %}"></script>
      {% block app %}{% endblock %}
  </body>
  {% endblock %}
</html>
