{% load subdomainurls %}<li><a href="{% url 'homepage' subdomain='connect' %}">Homepage</a></li>
<li><a href="{% url 'done' subdomain='connect' %}">Accounts</a></li>
<li><a href="{% url 'profile' subdomain='connect' %}">Profile</a></li>
<li><a href="{% url 'settings' subdomain='connect' %}">Settings</a></li>
