{% load subdomainurls %}<li><a href="{% url 'homepage' subdomain='semantic' %}">Homepage</a></li>
<li><a href="{% url 'NLP__tokenizer' subdomain='semantic' %}">Natural language Tokenizer</a></li>
<li><a href="{% url 'rdf_enrich' subdomain='semantic' %}">RDF Enhancer</a></li>
<li><a href="{% url 'QAS__nlp_sparql' subdomain='semantic' %}">Natural langauge -&gt; SPARQL</a></li>
<li><a href="{% url 'QAS__rdf_nlp' subdomain='semantic' %}">RDF -&gt; Natural langauge</a></li>
