{% load backend_utils %}
{% if user.is_authenticated %}
  <h1>Hi, <code>{{ user.username }}</code> !</h1>
{% else %}
  <h1>Please login first !</h1>
  <div>
      <input type="text" class="form-control" placeholder="Username" required="" />
  </div>
  <div>
      <input type="password" class="form-control" placeholder="Password" required="" />
  </div>
  <div>
      <a class="btn btn-default submit" href="index.html">Log in</a>
      <a class="reset_pass" href="#">Lost your password?</a>
  </div>
{% endif %}
<hr />
<div class="social">
  {% for sublist in available_backends|social_backends %}
    <div class="row">
      {% for name, backend in sublist %}
        {% associated backend %}
        {% if association %}
          <div class="dropdown pull-left">
            <button class="btn btn-danger dropdown-toggle" type="button" id="social-{{ backend|backend_class }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-4x fa-{{ name|icon_name }}"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="social-{{ backend|backend_class }}">
              <li>
                <form class="disconnect-form" action="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}" method="post">
                  {% csrf_token %}
                  <a class="social-dissociate">Dissociate</a>
                </form>
              </li>
            </ul>
          </div>
        {% else %}
          <a class="btn btn-success pull-left" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=name %}" title="{{ backend|backend_name }}">
            <i class="fa fa-4x fa-{{ name|icon_name }}"></i>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
