{% extends "layout.html" %}

{% load staticfiles %}

{% block page %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>ERP companies <small>... and stuff !</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 20%">Project Name</th>
                                <th>Team Members</th>
                                <th>Project Progress</th>
                                <th>Status</th>
                                <th style="width: 20%">#Edit</th>
                            </tr>
                        </thead>
                        <tbody>
{% for company in listing %}
                            <tr>
                                <td>#</td>
                                <td>
                                    <a href="/~{{ company.name }}/">
                                        {{ company.display_name }}
                                    </a>
                                    <br />
                                    <small>Created {{ company.write_date }} at {{ company.city }}, {{ company.country_id.1 }}.</small>
                                </td>
                                <td>
                                    <ul class="list-inline">
{% for person in company.members %}
                                        <li>
                                            <img src="{% static 'images/img.jpg' %}" class="avatar" alt="{{ person }}">
                                        </li>
{% endfor %}
                                    </ul>
                                </td>
                                <td class="project_progress">
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                                    </div>
                                    <small>57% Complete</small>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">Success</button>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>
{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}

{% block app %}
{% endblock %}

