{% load subdomainurls %}<li><a href="{% url 'homepage' subdomain='graph' %}">Homepage</a></li>
<li><a href="{% url 'search_box' subdomain='graph' %}">Search Engine</a></li>
<li><a href="{% url 'sparql_cmd' subdomain='graph' %}">SPARQL</a></li>
<li><a href="{% url 'ontologies__contact_list' subdomain='graph' %}">(*) Contacts</a></li>
<li><a href="{% url 'ontologies__event_list' subdomain='graph' %}">(*) Events</a></li>
